@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{

    /* Primary */
    --red:hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral */
    --vd-blue:hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --vl-gray: hsl(0, 0%, 98%);

    /* Font Weights */
    --fw-xlight:200;
    --fw-regular:400;
    --fw-sbold:600;


}

/* CSS Resets */

body,h1,h2,h3,h4,h5,h6,p,ul,li,a{
    margin:0;
    padding:0;
}

*,*::before,*::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input,
button,
textarea,
select, a {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* end of resets */

body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

}

p{font-size: 1.06rem;}
